// nm
nav {
  border-bottom: 2px solid #8c8eae;
  overflow: hidden;
  &.fixed__nav {
    background: green;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 111;
  }
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    .menu {
      display: block;
    }
    .logo {
      z-index: 1;
    }
    .menu__list {
      display: flex;
      z-index: 1;
        &-item {
          margin-right: 25px;
          position: relative;
          font-family: Jost;
          font-style: normal;
          font-size: 18px;
          line-height: 26px;
          & a, p{
            color: #fff;    
            margin-left: 5px;
          }
          text-transform: uppercase;
          &:last-child {
            margin-right: 0;
          }
        }
    }
  }
}
.logo a{
  display: flex;
  align-items: center;
}
.other-inf{
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform:none;
  color: rgba(255, 255, 255, 0.45);
}
.mobile-menu{

  position: absolute;
  width: 100%;
  height:0;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all .5s;
  background-color: #1d2160;
  color: #fff;
}
// ************************ Burger menu ************************ //
.burger {
  display: none;
  cursor: pointer;
}
.mobile-menu.active{
  height: 100%;
  display: block;
  
}
// Тут указываем тот брейкпоинт, на котором нам нужно прятать обычное меню и показывать уже бургер.
// Так же это значение ставим в файле navbar.js
@media screen and (max-width:660px) {
    .burger {
      display: block;
      position: relative;
      height: 20px;
      width: 32px;
      z-index: 102;
      cursor: pointer;
      &.active-burger {
        width: 18px;
        height: 18px;
        transition: all .4s;
        &:before {
          background: #fff;
          transform: rotate(45deg);
           
          top: 6px;
          border-radius: 0;
        }
        &:after {
          background: #fff;
          transform: rotate(-45deg);
          bottom: 10px;
          border-radius: 0;
          width: 100%;
          
        }
        & span {
          transform: scale(0);
        }
      }
      &:before, &:after {
        content:'';
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        border-radius: 25px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
      }
      &:before {
        top: 0;
      }
      &::after {
        bottom: 0;
        right: 0;
        width: 15px;
      }
          span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: white;
            height: 2px;
            transform: scale(1);
            border-radius: 25px;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
          }
    }
    ul.menu__list.header-phone-wrapper, ul.menu__list.header-address-wrapper{
      display: none;
    }
    .mobile-menu-header .header-phone{
      display: block;
    }
    nav .navbar .menu__list{
      flex-direction: column;
    }
    .mobile-menu-header{
      padding: 15px 20px;
      display: flex;
      border-bottom: 2px solid #8c8eae;
    }
    .mobile-menu-body{
      margin-top: 70px;
      padding:0 50px;
    }
    .mobile-menu-body > li > a{
      font-family: Jost;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
    }
    .mobile-menu-body > li > a.current-item{
      color: #4425FF;
    }
    .mobile-menu-body > li{
      margin-top: 35px;
      &:first-child{
        margin-top: 0;
      }
    }
}



